<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/">R</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">home</a>
            <a class="nav-item nav-link" routerLink="/about">about</a>
            <a class="nav-item nav-link" routerLink="/login">login</a>
            <a class="nav-item nav-link" routerLink="/report">report</a>
            <a class="nav-item nav-link" routerLink="/report2">report2</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
